.table>tbody>tr.active>td {
    text-align: center;
    vertical-align: middle;
  }
  .table>thead>tr>th {
      text-align: center;
      color: white;
      background: #1a5ec3;
      padding: 13px;
  }
  .table>tbody>tr.active>td.action>a {
      margin-left: 3px;
      margin-right: 3px;
  }

  a {
      cursor: pointer;
  }
  .removesize {
      margin-left: 10px;
  }
  .table>tbody>tr.deleted>td {
    background-color: #f5c4be;
   } 
   .table>tbody>tr.deleted:hover>td {
    background-color: #f5c4be;
   } 
   .comment {
	padding-top:15px;
	padding-left: 15px;
}

.singleComment {
	margin-top: 10px;
	padding: 10px 10px;
	background: #efecec;
}

.singleComment .contentComment {
	padding-left: 20px;
	margin: 0px 0px;
}

 .urTextComment {
	width: 100%;
	display: block;
	resize: none;
	} 

.yourComment {
	margin-top:10px;
}

.postComment {
	margin-top:10px;
	margin-left: auto;
	display: block;
}
.imageDivComment {
	padding-top: 15px;
}
.btnImage {
	margin-top:10px
}
.displayImage {
	margin-top:15px
}
.response {
    color: blue;
    padding-top:5px;
    margin-left: 20px;
}
