.signup input[type=text], .signup input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup input[type=text]:focus, .signup input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signup hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signup button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.signup .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signup .cancelbtn, .signup .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.signup .container {
  padding: 16px;
}

/* Clear floats */
.signup .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* style the container */
.login .container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
.login input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.login input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  margin-top:25px;
  background-color: #3B5998;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
.login input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.login input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.login .col {
  float: left;
  width: 50%;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.login .row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.login .vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.login .vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.login .hide-md-lg {
  display: none;
}

/* bottom container */
.login .bottom-container {
  margin-top:30px;
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .login .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .login .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.address input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.address input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.login h2 {
  text-align: center;
}

.bottom-container a{
  color:white;
}
.show-error {
  text-align: center;
  color: red;
}